*{
    margin: 0%;
    padding: 0%;
     box-sizing:border-box;
    
    }
    body {
    background-color: hsl(255, 63%, 79%);
    }
    .regras{
display: flex;
justify-content: center;
align-items: center;
    }
.cartao{
    background-color: white;
    width: 40vw;
    height: 50vh;
   border-radius: 1em;
   padding: 1.5em;
   margin-top: 20vh;
   align-items: center;

}
.titulo{
text-align: center;
color: rgb(0, 0, 0);
}

.Leia{
text-align: center;
color: rgb(255, 0, 0);
}
.cond{
text-align: center;
}
.nu{

color: rgb(0, 0, 0);
font-size: 1.3em;

}
.bu{
text-align: center;
color: rgb(214, 64, 64);
font-size: 2em;

}
form{
    background-color: white;
width: 40vw;
height: 50vh;
border-radius: 1em;
padding: 1.5em;
}
.Formulario {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10em;
}
.fofo{
    text-align: center;
    color: rgb(255, 0, 0);
    margin: 1em;
}
.camponome{
    display: flex;
}
